<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/styles.css"/> 
    <title>Groupie Tracker</title>
</head>
<body>
    <!-- <div slider id="slider-distance">
        <div>
          <div inverse-left style="width:70%;"></div>
          <div inverse-right style="width:70%;"></div>
          <div range style="left:30%;right:40%;"></div>
          <span thumb style="left:30%;"></span>
          <span thumb style="left:60%;"></span>
          <div sign style="left:30%;">
            <span id="value">30</span>
          </div>
          <div sign style="left:60%;">
            <span id="value">60</span>
          </div>
        </div>
        <input type="range" tabindex="0" value="30" max="100" min="0" step="1" oninput="
        this.value=Math.min(this.value,this.parentNode.childNodes[5].value-1);
        var value=(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.value)-(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.min);
        var children = this.parentNode.childNodes[1].childNodes;
        children[1].style.width=value+'%';
        children[5].style.left=value+'%';
        children[7].style.left=value+'%';children[11].style.left=value+'%';
        children[11].childNodes[1].innerHTML=this.value;" />
      
        <input type="range" tabindex="0" value="60" max="100" min="0" step="1" oninput="
        this.value=Math.max(this.value,this.parentNode.childNodes[3].value-(-1));
        var value=(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.value)-(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.min);
        var children = this.parentNode.childNodes[1].childNodes;
        children[3].style.width=(100-value)+'%';
        children[5].style.right=(100-value)+'%';
        children[9].style.left=value+'%';children[13].style.left=value+'%';
        children[13].childNodes[1].innerHTML=this.value;" />
      </div> -->
      
      <form action="/" method="get">
      <select name="loca" id="loca">
        <option value="all" {{if eq .SelectedLoca "all"}} selected {{end}}>all</option>
        {{range .LocaAll}}
            <option value="{{.}}" {{if eq $.SelectedLoca .}} selected {{end}}>{{.}}</option>
        {{end}}
      </select>
      <br>
      <label>Min Date</label>
      <input type="date" name="mindate" value="{{.SaveMinDeta}}">
      <label>max Deta</label>
      <input type="date" name="maxdeta" value="{{.SaveMaxDeta}}">
      <br>
      <label>Min:</label>
        <input type="range" id="min" name="minDaCre" min="1958" max="2015" value="{{.SaveMinCreat}}" 
          oninput="document.getElementById('max').min = this.value; document.getElementById('minOutput').value = this.value;">
        <output id="minOutput">1958</output>

      <label>Max:</label>
        <input type="range" id="max" name="maxDaCre" min="1958" max="2015" value="{{.SaveMaxCreat}}" 
        oninput="document.getElementById('maxOutput').value = this.value;">
        <output id="maxOutput">2015</output>
  <br>
  <div class="checkboxNM">
    <label>N Members:</label>
    <input type="checkbox" id="checkbox1" name="m1" value="1" {{if eq (index .SaveNM 0) "1"}} checked {{end}}>
    <label for="1">1</label>
    <input type="checkbox" id="2" name="m2" value="2" {{if eq (index .SaveNM 1) "2"}} checked {{end}}>
    <label for="2">2</label>
    <input type="checkbox" id="3" name="m3" value="3" {{if eq (index .SaveNM 2) "3"}} checked {{end}}>
    <label for="3">3</label>
    <input type="checkbox" id="4" name="m4" value="4" {{if eq (index .SaveNM 3) "4"}} checked {{end}}>
    <label for="4">4</label>
    <input type="checkbox" id="5" name="m5" value="5" {{if eq (index .SaveNM 4) "5"}} checked {{end}}>
    <label for="5">5</label>
    <input type="checkbox" id="6" name="m6" value="6" {{if eq (index .SaveNM 5) "6"}} checked {{end}}>
    <label for="6">6</label>
    <input type="checkbox" id="7" name="m7" value="7" {{if eq (index .SaveNM 6) "7"}} checked {{end}}>
    <label for="7">7</label>
    <input type="checkbox" id="8" name="m8" value="8" {{if eq (index .SaveNM 7) "8"}} checked {{end}}>
    <label for="8">8</label>
</div>
<br>
      <button type="submit" name="submit">Search</button>
    </form> 
  {{if .DataEX}}
    {{range .DataEX}}
    <form action="/GetMore" method="get">
        <img src="{{.Image}}" alt="Image" width="260" height="260">
        <h2>{{.Name}}</h2>
        <p><strong>Creation Year:</strong> {{.CreationDate}}</p>
        <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
        <button type="submit" value="{{.Id}}" name="submit">go more</button>
    </form>
    {{end}}
   {{else}}
    <h2>Not Found</h2>
    {{end}}
</body>
</html>